<h1>Listing address_books</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>

<% @address_books.each do |address_book| %>
  <tr>
    <td><%=h address_book.name %></td>
    <td><%=h address_book.address %></td>
    <td><%=h address_book.city %></td>
    <td><%=h address_book.phone %></td>
    <td><%=h address_book.email %></td>
    <td><%= link_to 'Show', address_book %></td>
    <td><%= link_to 'Edit', edit_address_book_path(address_book) %></td>
    <td><%= link_to 'Destroy', address_book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New address_book', new_address_book_path %>