<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>AddressBooks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery.1.4.2.min', 'jquery.autocomplete.min.js'  %>
  <%= stylesheet_link_tag "jquery.autocomplete", "pagination" %>
  <script>
    jQuery(document).ready(function(){
      jQuery("#address_book_city").autocomplete('/address_books/get_city_list', {'limit': 10 });
    });
  </script>

</head>
<body>

  <div>
    <%= link_to "Home", root_url %> |
    <%= link_to "New Address Book", new_address_book_path %> |
    <%= link_to "Address Books List", address_books_path %>
  </div>

<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
